*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorheader: #7A9CC6;
    --color2: #9fbbcc;
    --color3: #B3D2B2;
    --color4: #BDE4A7;
    --color5: #FFFD98;
    --color6: #04724D;
    --color7: #31E981;
    --color8: #40525b;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #292532;
}
.main-tela{
    width: 60%;
    height: auto;
    background-color: #ffffff;
    border-radius: 1rem;
}
h1{
    text-align: center;
}
header{
    background-color: #fff;
    color: var(--color6);
    padding: 20px 0px 10px 0px;
    border-top: 30px solid var(--color6);
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: 1px solid dimgray;
}
.examData{
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid dimgray;
    padding-bottom: 20px;
}
.examData #frm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.examData #frm .notept{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;   
}
.examData .data label{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color8);
}
.examData .data input[type="number"]{
    width: 200px;
    height: 40px;
    border: 1px solid #aaaaaa;
    border-radius: .5rem;
    text-align: center;
    margin-left: 20px;
    font-size: 1.3rem;

}
.sub input{
    width: 100px;
    height: 1.8rem;
    margin-right: 10px;
    border: none;
    border-radius: .6rem;
}
.sub input#enviar{
    background: #2eb4f7;
    color: #fff;
    cursor: pointer;
}
.sub input#limpar{
    background: #ffd285;
    color: #000000;
    cursor: pointer;
}
footer{
    color: var(--color6);
    padding: 20px 0px;
    border-bottom: 30px solid var(--color6);
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .solve{
    margin-bottom: 20px;
}
footer label{
    text-indent: -9999px;
    float: left;
}
footer #media{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: .5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.resultado{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: .5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.aprovado{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 1px solid #09a946;
    background-color: #09a946;
    border-radius: .5rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.recuperacao{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 1px solid #e8a51f;
    background-color: #e8a51f;
    border-radius: .5rem;
    color: #000000;
    font-weight: 800;
    text-transform: uppercase;
}
.reprovado{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 1px solid #d83737;
    background-color: #d83737;
    border-radius: .5rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

